body{
    margin: 10;
}

a {
    color: black;
    text-decoration: none;
}

h1{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px;
 }
#border{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 23px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article{
    padding-left: 10px;
}
@media(max-width: 800px){
    #grid{
    display: block;
}
#border{
    border-right: none;
}
h1{
    text-align: center; 
    border-bottom: none;
 }
}